@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
<<<<<<< HEAD
.border-mani{
  text-decoration: none; /* حذف خط زیر لینک در حالت عادی */
  position: relative;
}
.border-mani::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px; /* ضخامت خط */
  bottom: 0;
  left: 0;
  background-color: black; /* رنگ خط */
  transition: width 0.3s ease; /* زمان و نوع انیمیشن */
}
.border-mani:hover::after {
  width: 100%; /* وقتی هاور شد، خط به اندازه کل متن کشیده شود */
}
=======


>>>>>>> 88828dcc6f0f7acc1522c4c331b63b3325c99c79
